**I have used regex to identify the names, organisations and addresses from the given data.**

In [0]:
import pandas as pd 
import numpy as np
import re
import spacy
import en_core_web_sm

In [0]:
df=pd.read_csv('/content/yozoco_data.csv', encoding= 'unicode_escape')

In [56]:
df.head()

      p_no__001  ...                                               text
0  9.822342e+09  ...   Vardhaman Kochar\nSadhana Kochar\n9822342076\...
1  9.370237e+09  ...   I Tarachand\n9370237313\nBALAJI\n7972464762\n...
2  9.186576e+09  ...   Manan Mathur\nRelationship Manager - Sales\n+...
3  9.188889e+09  ...   Help Ever Hurt Never....\nRahul Gholap\nManag...
4  9.425326e+08  ...   ?? ?\n?????\n1.& SONS\nCANVASING AGENT\nNAYA ...

[5 rows x 15 columns]

In [57]:
df.dtypes

p_no__001             float64
p_no__002             float64
p_no__003             float64
p_no__004             float64
p_no__005             float64
p_no__006             float64
p_no__007             float64
p_no__008             float64
email_address__001     object
email_address__002     object
website__-             object
address                object
organisation           object
person_name            object
text                   object
dtype: object

In [0]:
#df.organisation.head(5)

In [59]:
df.address.head(5)

0    Best Quality Dry Fruits,Frozen Dry Fruits, Att...
1    Canvassing Agents in : Rice, Paddy & Foodgrain...
2    5th Floor, Technopolis Knowledge Park,Mahakali...
3                         Maha, Rera No.: A52100008609
4    NAYA BAZAR, BAGHANA,Cell : 094253 25555, 09179...
Name: address, dtype: object

In [60]:
df.isna().sum()

p_no__001              1
p_no__002             14
p_no__003             31
p_no__004             37
p_no__005             44
p_no__006             47
p_no__007             49
p_no__008             50
email_address__001    25
email_address__002    50
website__-            45
address                4
organisation          18
person_name           11
text                   0
dtype: int64

In [0]:
df1=df.dropna(subset=['address','person_name'])

In [62]:
df1.isna().sum()

p_no__001              0
p_no__002              8
p_no__003             20
p_no__004             25
p_no__005             31
p_no__006             33
p_no__007             35
p_no__008             36
email_address__001    20
email_address__002    36
website__-            36
address                0
organisation          13
person_name            0
text                   0
dtype: int64

In [0]:
def recognise_address(sent):
    txt = re.sub("'","",sent)
    txt = re.sub("[^#a-zA-Z0-9]"," ",txt)
    reg_expre=r"([A-Za-z0-9]\w+ ((?! \d+).)*(Mumbai|Ahmedabad|Nashik|Pune|Ahmednagar|Hyderabad|Karnataka|India|KAKINADA|Udaipur)(,d{5}|\b))"
    add = re.findall(reg_expre,txt,re.IGNORECASE)
    return add

def get_names(sentence):
    lang = en_core_web_sm.load()
    corp = lang(sentence) 
    for ent in corp.ents: 
        return(print(ent.text,  ent.label_))

In [66]:
df1.person_name.apply(get_names)

Manan Mathur PERSON
918888887791 CARDINAL
Manan Mathur PERSON
Wada Atta PERSON
Suhas Saraf C.E.O. PERSON
A.P. ORG
Raviwar Karanja PERSON
Jai Mata Di II Mob PERSON
918888887791 CARDINAL
A.P. ORG
Bhavani Peth PERSON
A.P. ORG
Bandavane Nagar PERSON
A.P. ORG
ASHOK AGENCY Chillies ORG
Manish Katariya S.S.D. ORG
Ashok Agrowal 099499 PERSON
Thomas Cook PERSON
Rajendra Kela PERSON
Pankaj B. Patil PERSON
A.P. ORG
B. Com PERSON
A.P. ORG

1     None
2     None
3     None
4     None
5     None
6     None
7     None
8     None
9     None
10    None
12    None
13    None
15    None
16    None
17    None
19    None
20    None
21    None
22    None
24    None
25    None
26    None
27    None
30    None
32    None
33    None
34    None
35    None
37    None
38    None
39    None
40    None
41    None
44    None
46    None
48    None
49    None
51    None
52    None
53    None
Name: person_name, dtype: object

In [65]:
df1.address.apply(recognise_address)

1     [(Canvassing Agents in   Rice  Paddy   Foodgra...
2     [(5th Floor  Technopolis Knowledge Park Mahaka...
3                                                    []
4                                                    []
5     [(5th Floor  Technopolis Knowledge Park Mahaka...
6     [(Swami Samarth Tempal Datta Mandir Road Nashi...
7                                                    []
8                                                    []
9     [(21 2B  M I D C  Satpur Nashik,  , Nashik, ),...
10    [(449 13  Kishan Gunj  Hyderabad,  , Hyderabad...
12    [(Lavate Park  Raviwar Karanja  Nashik,  , Nas...
13              [(1I  Vashi  Navi Mumbai,  , Mumbai, )]
15    [(Jai Gurudev Si MumbadEvi DA RI Turbhe Navi M...
16                                                   []
17                                                   []
19                                                   []
20                                                   []
21                                                   []
22    [(Andheri East Mumbai,  , Mumbai, ), (20  Maro...
24    [(449 13  Kishan Gunj  Hyderabad,  , Hyderabad...
25    [(11  Bhadravati Residency  Bandavane Nagar  K...
26                                                   []
27                                                   []
30    [(Sahyadri Business Park O Mico Circle Nashik ...
32                                                   []
33        [(93  Gultekdi Market yard  Pune,  , Pune, )]
34    [(Maize23 3  Sindhi Commercial Market  Chokha ...
35    [(35  Ganjamvari Street  Near Dena Bank  KAKIN...
37    [(KHAMAN WHOLESALE MERCHANT Bagur Road Karnata...
38    [(Prakash Apt  Mahatma Nagar  Near ABB Circle ...
39    [(21  M I D C  Malegaon  Sinnar  Nashik,  , Na...
40                 [(WHEAT Nashik Nashik,  , Nashik, )]
41    [(No 1  Rajan Complex  Datta Mandir Stop Nashi...
44                                                   []
46                                                   []
48                     [(Maharashtra India, , India, )]
49    [(449 13  Kishan Gunj  Hyderabad,  , Hyderabad...
51    [(Ankur Apartments ITI Road Aundh Sanewadi  IT...
52    [(16  Flat No  D1 Mutha Apartments Ganjamvari ...
53                         [(Opp Udaipur, , Udaipur, )]
Name: address, dtype: object